* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #222;
  font: 400 15px arial;
  overflow-x: hidden;
  overflow-y: scroll;
}
@media screen and (max-width: 1129px) {
  body {
    overflow-y: visible !important;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
img {
  border: 0;
  font-size: 0;
  line-height: 0;
  max-width: 100%;
}
li {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: inherit;
}
